# Database Connection
DATABASE_URL="postgresql://username:password@localhost:5432/timetable_db?schema=public"

# Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Initial Admin User Credentials (used by prisma db seed)
ADMIN_NAME="Administrator"
ADMIN_EMAIL="admin@campusgrid.edu"
ADMIN_PASSWORD="CampusGridAdminSecret123!"

# Session JWT Secret
JWT_SECRET="campusgrid-super-secret-jwt-key-2026"

